:root{
    --fundo: #C0C0C0;
    --cor-frente:#00FA9A;
    --cor-verso:#000000;
    --destaque:#FF00FF;
    --preto:#000000;
    --branco:#ffffff;
}
body{
    background-color: var(--fundo);
}
footer{
    position: fixed;
    bottom: 0;
    background-color:var(--preto);
    color: var(--branco);
    width: 100%;
}

