:root{
    --fundo: #C0C0C0;
    --cor-frente:#00FA9A;
    --cor-verso:#000000;
    --destaque:#FF00FF;
    --preto:#000000;
    --branco:#ffffff;
}
body{
margin: 0;
    background-color: var(--fundo);
}
footer{
    position: fixed;
    bottom: 0;
    background-color:var(--preto);
    color: var(--branco);
    width: 100%;
    text-align: center;
}
#container{
    padding: 4rem;
    display: flex;
    gap: 3rem;
    flex-wrap: wrap;

}
.cartao{
    flex-grow: 1;
    flex-basis: calc(33%-6rem);
    height: 20rem;
    margin: 1rem;
}
.conteudo-cartao{
    background-color: var(--cor-frente);
    height: 100%;
    color: var(--branco);
    text-align: center;
}
.conteudo-cartao h3{
    border: 1px solid var(--destaque);
    border-radius: 6rem;
    color: var(--destaque);
    padding: 0.4rem;
    margin: 0.4rem;
    position: absolute;
    text-align: left;
    font-size: 1.2vw;

}